*~{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(36, 240, 203);
}

main{
    background-color: rgb(245, 248, 203);
    width: 500px;
    margin: auto;
    padding: 10px;    
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.527);
}   
